/configurations/
/l5.txt
/portfolioClient/*.*
/portfolioClient/.editorconfig
/portfolioClient/.browserslistrc
/portfolioClient/node_modules/
/portfolioClient/e2e/

/portfolioClient/src/test.ts
/portfolioClient/src/polyfills.ts
/portfolioClient/src/favicon.ico
/portfolioClient/src/environments/
/portfolioClient/src/assets/
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/msid21.iml
/.idea/modules.xml
/.idea/misc.xml
