<div class="header">
    <div>
        <label for="newPart">Part Of Resources: </label>
        <input id="newPart" type="number" [(ngModel)]="newPart" />
        <button mat-raised-button class="count-button" (click)="retriveData()">Refresh</button>
    </div>
    <div>Currency: {{ currency }}</div>
</div>


<div class="text">
    <p><b>Best Sell</b> - api name with the ability to sell the resource at the highest price</p>
    <p><b>Amount</b> - the amount of resource in part of your portfolio</p>
    <p><b>Purchase</b> - the average purchase price for this part of the resource</p>
    <p><b>Price</b> - the average possible sell price for this part of the resource</p>
    <p><b>Value</b> - the value of this part of the resource based on the offers of exchanges in the base currency</p>
    <p><b>Profit</b> - the difference between the present value and the purchase of a given resource</p>
</div>

<table>
    <tr>
        <th class="cell">Resources</th>
        <th class="cell">Best Sell</th>
        <th class="cell">Amount</th>
        <th class="borderedCell">
            100%
            <div class="row">
                <span class="cell">Purchase</span>
                <span class="cell">Price</span>
                <span class="cell">Value</span>
                <span class="cell">Profit</span>
            </div>
        </th>
        <th class="borderedCell">
            {{ part }}%
            <div class="row">
                <span class="cell">Purchase</span>
                <span class="cell">Price</span>
                <span class="cell">Value</span>
                <span class="cell">Profit</span>
            </div>
        </th>
    </tr>
    <tr *ngFor="let stat of stats">
        <td><h4>{{ stat.name }}</h4></td>
        <td><h4 class="cell">{{ stat.recommendedSell }}</h4></td>
        <td><h4 class="cell">{{ stat.full.amount | number : '1.4-4' }}</h4></td>
        <td>
            <div class="row">
                <h4 class="cell">{{ stat.full.meanPurchase | number : '1.2-2' }}</h4>
                <h4 class="cell">{{ stat.full.price | number : '1.2-2' }}</h4>
                <h4 class="cell">{{ stat.full.value | number : '1.2-2' }}</h4>
                <h4 class="cell" [ngClass]="{'positive': stat.full.profit>0, 'negative': 0>stat.full.profit}">{{ stat.full.profit | number : '1.2-2' }}</h4>
            </div>
        </td>
        <td>
            <div class="row">
                <h4 class="cell">{{ stat.part.meanPurchase | number : '1.2-2' }}</h4>
                <h4 class="cell">{{ stat.part.price | number : '1.2-2' }}</h4>
                <h4 class="cell">{{ stat.part.value | number : '1.2-2' }}</h4>
                <h4 class="cell" [ngClass]="{'positive': stat.part.profit>0, 'negative': 0>stat.part.profit}">{{ stat.part.profit | number : '1.2-2' }}</h4>
            </div>
        </td>
    </tr>
</table>