.content{
    height: 100%;
    text-align: center;
    margin-top: 20%;
    font-size: x-large;
}

.mat-raised-button{
    padding: 8px 20px;
    font-size: x-large;
}

.mat-form-field {
    margin: 0 40px 0 20px;
    min-width: 300px;
}

.green {
    background-color: #00BD9D;
}

.red {
    color: #FF4B1F;
}