
<div class="content">
    <div>
        <div class="header">All resources: </div>
        <table>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Mean Purchase</th>
            </tr>
            <tr *ngFor="let resource of resources">
                <td>{{ resource.name }}</td>
                <td>{{ resource.amount }}</td>
                <td>{{ resource.meanPurchase }} {{ currency }}</td>
            </tr>
        </table>
    </div>

    <div>
        <div class="header">Actions: </div>

        <div class="input-row">
            <label for="selected">Resource: </label>
            <mat-form-field id="selected" appearance="fill">
                <mat-select [formControl]="selectedResource">
                    <mat-option value="new">New</mat-option>
                    <mat-option *ngFor="let resource of resources" value="{{resource.name}}">{{ resource.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="input-row" *ngIf="selectedResource.value == 'new'">
            <label for="name">Name: </label>
            <div>
                <input id="name" [(ngModel)]="name"/>
                <div class="input-label"></div>
            </div>
        </div>
        <div class="input-row">
            <label for="amount">Amount: </label>
            <div>
                <input id="amount" [(ngModel)]="amount" type="number"/>
                <div class="input-label"><button (click)="setAllAmount()">All</button></div>
            </div>
        </div>
        <div class="input-row">
            <label for="price">Price: </label>
            <div>
                <input id="price" [(ngModel)]="price" type="number"/>
                <div class="input-label">{{ currency }}</div>
            </div>
        </div>
        <div>
            <button mat-raised-button class="green action" (click)="addResource()">Add</button>
            <button mat-raised-button class="red action" (click)="removeResource()">Remove</button>
        </div>
    </div>
</div>
