 <div class="content">
     <div class="row">
        <h1 mat-dialog-title>Resource: {{ data.name }}</h1>
        <div>
            <h3>Mean Purchase: <span class="bold">{{ data.meanPurchase }} {{data.currency}}</span></h3>
            <h3>Recommend to sell in <span class="bold">{{ data.recommendedSell }}</span></h3>
        </div>
     </div>
    
    <div mat-dialog-content>
        <div class="row section">
            <div>
                <h3>Value 100%:</h3>
                <h4>Amount: <span class="bold">{{ data.value.full.amount }}</span></h4>
                <h4>Price: <span class="bold">{{ data.value.full.price }} {{data.currency}}</span></h4>
                <h4>Amount: <span class="bold">{{ data.value.full.value }} {{data.currency}}</span></h4>
                <h4>Profit: <span class="bold">{{ data.value.full.profit }} {{data.currency}}</span></h4>
            </div>

            <div >
                <h3>Value {{ data.value.partPercent }}%:</h3>
                <h4>Amount: <span class="bold">{{ data.value.part.amount }}</span></h4>
                <h4>Price: <span class="bold">{{ data.value.part.price }} {{data.currency}}</span></h4>
                <h4>Amount: <span class="bold">{{ data.value.part.value }} {{data.currency}}</span></h4>
                <h4>Profit: <span class="bold">{{ data.value.part.profit }} {{data.currency}}</span></h4>
            </div>
        </div>
        
        <div *ngIf="data.arbitration.length" class="section">
            <h2>Possible arbitration:</h2>
            <table>
                <tr>
                    <th><h4>Resources</h4></th>
                    <th><h4>Between</h4></th>
                    <th><h4>Rate</h4></th>
                    <th><h4>Profit</h4></th>
                    <th><h4>Quantity</h4></th>
                </tr>
                <tr *ngFor="let arbitration of data.arbitration">
                    <td><h4>{{ arbitration.currency1 }} -> {{ arbitration.currency2 }}</h4></td>
                    <td><h4>{{ arbitration.api1 }} -> {{ arbitration.api2 }}</h4></td>
                    <td><h4>{{ arbitration.rate | number : '1.6-6' }}</h4></td>
                    <td><h4>{{ arbitration.profit | number : '1.6-6' }} {{ arbitration.currency1 }}</h4></td>
                    <td><h4>{{ arbitration.quantity | number : '1.0-6' }} {{ arbitration.currency1 }}</h4></td>
                </tr>
            </table>
        </div>
    </div>
    
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close class="green">Close</button>
    </div>
</div>
