<div class="content">
    <h1 *ngIf="status == 'ok'" class="message"></h1>
    <h1 *ngIf="status == 'saved'" class="message green">Saved</h1>
    <h1 *ngIf="status == 'pending'" class="message blue">Saving in process</h1>
    <h1 *ngIf="status == 'notLoaded'" class="message error">Could not load data</h1>
    <h1 *ngIf="status == 'error'" class="message error">Could not save</h1>


    <div *ngIf="fee" class="row">
        <label for="fee">Country Profit Fee: </label>
        <input id='fee' [(ngModel)]='fee'>
    </div>
    <br />
    
    <div *ngIf="currency" class="row">
        <label for="currency">Base Currency: </label>
    
        <mat-form-field id="currency" appearance="fill">
            <mat-select [formControl]="currency">
                <mat-option value="USD">USD</mat-option>
                <mat-option value="EUR">EUR</mat-option>
                <mat-option value="PLN">PLN</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <br />
    <button mat-raised-button class="green-button" (click)="save()">Save</button>
    
    
</div>
