{% extends "base.html" %}

{% block content %}
<div id="container">
    {% if error_message %}
    <p style="color: red;"> {{ error_message }} </p>
    {% endif %}
    {% if add_confirm %}
    <p style="color: green;"> {{ add_confirm }} </p>
    {% endif %}
    <form style="margin-bottom: 2rem;" action="/add" method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input class="btn btn-primary" type="submit" value="SEND"/>
    </form>
    <form style="margin-bottom: 2rem;" action="/add" class="row gy-2 gx-3" method="post">
        <div class="col-auto">
            <label for="autoSizingName">Name</label>
            <input type="text" class="form-control" id="autoSizingName" name="name" placeholder="AAPL" required>
        </div>
        <div class="col-auto">
            <label for="autoSizingQuantity">Quantity</label>
            <input type="text" class="form-control" id="autoSizingQuantity" name="quantity" placeholder="12.50"
                   required>
        </div>
        <div class="col-auto">
            <label for="autoSizingRate">Rate</label>
            <input type="text" class="form-control" id="autoSizingRate" name="rate" placeholder="320.25" required>
        </div>
        <div class="col-auto">
            <label for="autoSizingSelect">Type</label>
            <select class="form-select" id="autoSizingSelect" name="type" required>
                <option value="1">CURRENCY</option>
                <option value="2">CRYPTO</option>
                <option value="3">POLISH STOCK</option>
                <option value="4">FOREIGN STOCK</option>
            </select>
        </div>
        <div class="col-auto ">
            <button id="btn_add" type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
    <form action="/add" method="post">
        <button id="btn_save" type="submit" class="btn btn-primary">Save</button>
    </form>

</div>

{% endblock %}