input {
    margin: 0 20px;
    font-size: large;
    width: 70px;
    padding: 5px;
}

.header {
    font-size: x-large;
    margin: 20px 0 40px 0;
}

.count-button {
    background-color: #00BD9D;
    color: white;
    font-size: large;
    width: 110px;
}

th, td {
    font-size: larger;
}

td {
    border-top: 1px solid #00BD9D;
}

.cell {
    width: 200px;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.positive{
    color: #00BD9D;
}

.negative {
    color: #CC2900;
}