th, td {
    width: 185px;
    text-align: center;
}

.content {
    margin: 20px;
}

.header {
    font-size: x-large;
}

.green-button {
    background-color: #00BD9D;
    color: white;
    font-size: larger;
}

.mat-form-field{
    margin: 0 20px;
}

.message {
    margin-left: 20px;
}

.pending {
    color: #54DEFD;
}

.error {
    color: #FF5C33;
}